
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
footer{
    width: 100%;
    background-color: aquamarine;
    margin-top: 10px;
}
#footer_content{
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10rem 10,5rem;
}
#footer_content h3, h1{
    text-align: center;
}
#footer_contents{
    margin-bottom: 0,75rem;
}
#footer-social-midia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer-social-midia .footer-link{
    height: 2.5rem;
    width: 2.5rem;
}