*{
    margin: 0;
    padding: 0;
}

body, html {
    background-color: aliceblue;
}

header{
    background-color: #f9f4e3;
    color: #20591e;
}
header > h1{
    padding: 20px;
    text-align: center;
}
menu{
    width: 100%;
    background-color: #20591e;
}
menu > ul{
    list-style-type: none;
    display: flex;
    
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #20591e;
    text-align: center;
    border-top: 0px solid ;
    color: white;
    
}
menu > ul > li > a:hover{
    background-color: #96c994 ;
}