*{
    margin: 0;
    padding: 0;
    text-align: center;

}

body, html {
    background-color: #f0dea2 ;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:#f0dea2;
    color: #20591e;
}
header > h1{
    padding: 20px;
    text-align: center;
}
icone{
    background-color: #073805;
    color: #f9f4e3;
    display: block;
    text-align: center;
    padding: 10px;
}
span#icone:hover{
    background-color: #16461473;

}
menu{
    width: 100%;
    background-color: #20591e;
}
menu > ul{
    list-style-type: none;
    display: flex;
    
}
menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #20591e;
    text-align: center;
    border-top: 0px solid ;
    color: white;
    
}
menu > ul > li > a:hover{
    background-color: #96c994 ;
}
.fota{
    margin: auto;
    text-align: center;
    margin-top: 40px;
    border-radius: 20px;
    
}

.fota picture{
    margin: auto;
}

.quarto{
    height: 65vh;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    justify-content: center;
    flex-direction: column;
    background-color: #b8e1b7 ; 
}
.quarto h1, h5, p{
    text-align: center;
}

.quarto .quarto-imagem{
    display: flex;
    height: auto;
    /* background-color: black; */
}

.suite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1%;
    width: 25vw;
    height: 250px;
    /* background-color: red; */
    margin-top: auto;
    overflow: hidden;
    
}
.suite h3{
    font-weight: 300;
    text-align: center;
}
.suite img{
    border-radius: 8px;
    transition: 0.4s;
    /* width: 100px;
    height: 100px; */
}
.suite img:hover{
    opacity: 0.5;
    transition: 0.2s;
}

#servicos{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45vh;
    border: 1px solid green;
}
#servicos .eventos{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
.eventos div{
    background-color: #96c994;
    width: 30vw;
    height: 10vh;
    border-radius: 8px;
    /* margin: 5px 0px ; */
}
.oferecidos{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.oferecidos img{
    width: 20%;
}

footer{
    width: 100%;
    background-color: aquamarine;
    margin-top: 10px;
}
#footer_content{
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10rem 10,5rem;
}
#footer_content h3, h1{
    text-align: center;
}
#footer_contents{
    margin-bottom: 0,75rem;
}
#footer-social-midia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer-social-midia .footer-link{
    height: 2.5rem;
    width: 2.5rem;
} 