*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(../imagens/eventoimg.jpeg);
}
header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0px;
}
.informacoes{
    align-items: center;
    background-color: azure;
    padding: 300px;
    margin: 20px 300px 300px 300px;
    border-radius: 20px;
}
.informacoes h2{
    
}
