*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../imagens/eventooo.jpeg);
   
}
header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
    background-color: #287a25cc;
}
.informacoes{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 100px;
}
button{
    background-color:#287a25;
    border: none;
    /* padding: 0px; */
    height: 40px;
    width: 70px;
    border-radius: 8px;
    cursor: pointer;  
    transform: all 0.4s;
    margin: 20px;
    margin-bottom: 5px;
    
}
.informacoes .botao button a{
    color: white;
    text-decoration: none;
}

button:hover{
    opacity: 0.6;
} 